.header {
  width: 100%;
  display: flex;
  background-color: #202020;
  padding: 21px 0;
}

.header__container {
  width: 89.0625%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  margin-right: 44px;
  cursor: pointer;
}
