.techs {
  width: 100%;
  display: flex;
  padding: 100px 0;
  background-color: #272727;
}

.techs__container {
  width: 89.0625%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.techs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.techs__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

.techs__text {
  max-width: 460px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin: 0 0 100px;
  text-align: center;
}

.techs__list {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-column-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.techs__list-item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-radius: 10px;
}

.techs__list-text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 800px) {
  .techs {
    padding: 90px 0;
  }

  .techs__container {
    width: calc(100% - 100px);
  }

  .techs__content {
    padding-top: 80px;
  }

  .techs__title {
    margin: 0 0 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__list-item {
    height: 57px;
  }

  .techs__list-text {
    font-size: 12px;
    line-height: 15px;
  }
}
