.submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit:last-child {
  justify-content: flex-end;
}

.submit__button {
  width: 100%;
  height: 45px;
  background: #4285f4;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  margin: 0 0 16px;
  border-radius: 3px;
  padding: 0;
}

.submit__message {
  color: #8b8b8b;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.submit__link {
  color: #4285f4;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

@media all and (max-width: 600px) {
  .submit__message {
    font-size: 12px;
    line-height: 15px;
  }

  .submit__button {
    margin: 0 0 14px;
  }
}
