.navtab {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: 36px;
  grid-column-gap: 10px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navtab__item {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.navtab__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}